<div class="container-fluid d-flex justify-content-center align-items-center">
  <form [formGroup]="login" class="login form-row">
    <div class="col-12 text-center">
      <h1 class="ft-22">Fast Food Sistema</h1>
    </div>
    <div class="col-12 form-group">
      <label for="email">E-mail</label>
      <input type="text" formControlName="email" id="email" class="form-control">
    </div>
    <div class="col-12 form-group">
      <label for="password">Senha</label>
      <input type="password" formControlName="password" id="password" class="form-control">
    </div>
    <div class="col-12 d-flex justify-content-end">
      <button class="btn-ripple btn-fast primary" routerLink="/admin">entrar</button>
    </div>
  </form>
</div>
