$primary-color-dark: #00796B;
$primary-color: #009688;
$primary-color-light: #B2DFDB;
$background-color: #F5F5F5;
$primary-color-text: #FFFFFF;
$accent-color: #ef1a1a;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
