<div class="top-bar">
  <h2 class="title">Pagamento e Vendas</h2>
</div>
<div class="container mt-3 pb-2">

  <form [formGroup]="whatsForm" class="row">
    <div class="col-md-6 col-lg-8"></div>
    <div class="col-md-6 col-lg-4 box pt-3 pb-3">
      <div class="row">
        <div class="col-12 form-group">
          <label for="phone">Telefone para o WhatsApp</label>
          <input formControlName="phone" type="text" id="phone" class="form-control" [mask]="getPhoneMask()">
        </div>
        <div class="col-12 d-flex justify-content-end flex-wrap">
          <button (click)="editWhatsFormState()"
                  class="btn btn-outline-secondary mr-2 mt-2">{{phoneFlag ? 'Cancelar edição' : 'Editar'}}</button>
          <button [disabled]="whatsForm.invalid || whatsForm.disabled || !whatsForm.dirty"
                  (click)="saveWhats()" type="button" class="primary btn-fast btn-ripple mt-2">Salvar
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="row mt-3">
    <div class="col-12 p-0">
      <h2 class="titles">Todos os métodos de pagamento</h2>
    </div>
  </div>
  <div class="row box pt-3 pb-3">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th scope="col" style="width: 75%">Método</th>
            <th class="text-center" scope="col" style="width: 25%">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let paymentMethod of payments; let idx = index">
            <td class="text-uppercase">{{paymentMethod.description}}</td>
            <td>
              <app-slider-button
                [ngModel]="!!paymentMethod.status"
                (ngModelChange)="changePayment(paymentMethod, $event)">
              </app-slider-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 p-0">
      <h2 class="titles">Todos os tipos de vendas</h2>
    </div>
  </div>
  <div class="row box pt-3 pb-3">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th scope="col" style="width: 75%">Tipo</th>
            <th class="text-center" scope="col" style="width: 25%">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let type of salesType; let idx = index">
            <td class="text-uppercase">{{type.name}}</td>
            <td>
              <app-slider-button
                [ngModel]="!!type.status"
                (ngModelChange)="changeSalesType(type, $event)">
              </app-slider-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

