<div class="top-bar">
  <h2 class="title">Mudar senha</h2>
</div>

<div class="container mt-3 pb-2">
  <div class="row justify-content-center">
    <form [formGroup]="passwordForm" class="col-md-4 box pt-3 pb-3">
      <div class="form-group">
        <label for="old">Senha antiga</label>
        <input formControlName="oldPassword" type="password" id="old" class="form-control">
      </div>
      <div class="form-group">
        <label for="new">Nova senha</label>
        <input formControlName="newPassword" type="password" id="new" class="form-control">
      </div>
      <button [disabled]="passwordForm.invalid" (click)="renew()" class="btn-fast primary btn-ripple w-100">Mudar</button>
    </form>
  </div>
</div>
